html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */

h1 {
  font-family: NotoSerif;
  font-style: italic;
  font-weight: 700;
  color: black;
  font-size: 4em;
  text-align: center;
}

h2 {
  font-family: verdana;
  font-style: normal;
  font-weight: normal;
  color: #FFA400;
  font-size: 1.3em;
  margin: 0.67em 0;
  text-align: center;
}

h3 {
  font-family: verdana;
  font-style: normal;
  font-weight: bold;
  color: black;
  font-size: 1.3em;
  margin: 0.67em 0;
  text-align: left;
  margin-bottom: 1em;
}

h4 {
  font-family: verdana;
  font-style: italic;
  font-weight: normal;
  color: black;
  font-size: 0.8em;
  margin: 0.67em 0;
  text-align: left;
}

p {
    font-family: verdana;
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 1em;
}

li {
    font-family: verdana;
    font-size: 15px;
}


.testsh {
  margin-bottom: 1rem;
}

img.xheight {

  padding-top: 0.34rem;
}
